<div class="product">
    <div class="width">
        <div class="product-left">
            {% for image in product.images %}
                <img src="{{ image | image_url: master }}" alt="{{ image.alt | escape }}" width="" height="" />
            {% endfor %}
        </div>
        <div class="product-right">
            <h1>{{ product.title }}</h1>

            <div class="product-compare">
                {{ product.selected_or_first_available_variant.compare_at_price |  money }}
            </div>
            <div class="product-prices">
                <div class="product-price">
                    {{ product.selected_or_first_available_variant.price |  money }}
                </div>
            </div>
            <div class="product-description">
                {{ product.description }}
            </div>

            {% form 'product', product   %}
                <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />

                {% if product.variants.size > 1 %}
                    <div class="product-option">
                        {% for option in product.options_with_values %}
                            <fieldset>
                                <legend>{{ option.name }}</legend>
                                    {% for value in option.values %}  
                                        <div>
                                            <input 
                                                {% if option.selected_value == value %}checked{% endif %}
                                                type="radio"
                                                name="{{ option.name }}"
                                                value="{{ value }}"
                                                id="{{ option.name |  handleize }}-{{value | handleize }}"
                                            >
                                            <label for="{{ option.name |  handleize }}-{{value | handleize }}">
                                                {{ value }}
                                            </label>
                                        </div>
                                    {% endfor %}
                            </fieldset>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="product-option">
                   <label for="quantity">Quantity</label>     
                   <input type="text" id="quantity" name="quantity" value="1" class="product-quantity" />
                </div>

                <button type="submit" class="product-add">{{ 'General.add_to_cart' | t  }}</button>
            {% endform %}
        </div>
    </div>
</div>

<script>
    var product = {{ product | json }};

    document.querySelectorAll(' .product-option input[type="radio"]').forEach(radio=>{
            radio.addEventListener('change', ()=>{
                var selectedoptions = [];
                document.querySelectorAll(' .product-option input[type="radio"]:checked')
                .forEach(radio=>{
                    selectedoptions.push(radio.value)
                })

                var matchedVariant = product.variants.find(variant=>{
                    var pass = true;

                    for(var i = 0; i < selectedoptions.length; i++){
                        if(selectedoptions.indexOf(variant.options[i]) === -1){
                            pass = false;
                            break;
                        }
                    }
                    return pass;
                })
                
                // Chnage product form variant id
                document.querySelector('#product-id').value = matchedVariant.id;

                // Chnage URL
                var url  = new URLParse(window.location.href, true);
               url.query.variant = matchedVariant.id;
               window.history.replaceState(null, null, url.toString());

               
            })
    })

</script>

{% schema %}
{
    "name": "Product",
    "presets": [
            { 
             "name": "Product"
            }
        ]
}
{% endschema %}