<h3>{{ collections['frontpage'].title }}</h3>

{% for product in collections['frontpage'].products   %}
    <div>
        <a href="{{ product.url }}">
            <img src="{{ product.featured_image | image_url: width: 150 }}" width="" height=""  />
            <h4>{{- product.title }}</h4>
            <p>{{ product.price |  money }}</p>
        </a>
    </div>
    {{- product.title |  link_to: product.url  }}
{% endfor %}